@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

.languages-div {
    margin: 0 auto;
    margin-top: 100px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.562);
    max-width: 90%;
}

.languages {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #314456;
    letter-spacing: 5px;
}

.list {
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
    font-family: 'Titillium Web', sans-serif;
    font-size: 28px;
    color: #9E5A63;
    font-weight: 500;
}

.icon-div {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.icon-div-last {
    display: flex;
    flex-direction: row;
    margin: 15px;
    margin-bottom: 100px;
    
}

.icon {
    margin-top: 20px;
}

@media only screen and (max-width: 665px) {
    .languages-div {
        margin-top: 40px;
    }
    .languages{
        font-size: 30px;
    }
    .icon-div-last {
        margin: 10px;
        margin-bottom: 40px;
    }
    .icon-div {
        margin: 10px;
    }
  }